/* Universal Styles */

html {
	font-size: 18px;
}

input:focus {
	outline: none;
}

/* Reusable Component - Image Container */

.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	background: #000;
}

.image-container img {
	width: 100%;
}

/* App Styles */

.App {
	font-family: 'Work Sans', sans-serif;
}

.Nav {
	position: absolute;
	width: 100%;
	padding: 0.8rem 0;
	text-align: center;
	font-family: Poppins, sans-serif;
	font-size: 2rem;
	color: #fff;
}
